*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
build/classes/flightreservationgui/FXML_CreateFlight.fxml
build/classes/flightreservationgui/FXML_CreateMenu.fxml
build/classes/flightreservationgui/FXML_Default.fxml
build/classes/flightreservationgui/FXML_ListFlight.fxml
build/classes/flightreservationgui/FXML_ListMenu.fxml
build/classes/flightreservationgui/FXML_ListPassengers.fxml
build/classes/flightreservationgui/FXML_ListTicket.fxml
build/classes/flightreservationgui/FXML_MainMenu.fxml
build/classes/flightreservationgui/FXML_RegisterCrew.fxml
build/classes/flightreservationgui/FXML_RegisterMenu.fxml
build/classes/flightreservationgui/FXML_RegisterPassenger.fxml
build/classes/flightreservationgui/FXML_RegisterPilot.fxml
build/classes/flightreservationgui/FXML_SellMenu.fxml
dist/FlightReservationGUI.html
dist/FlightReservationGUI.jnlp
dist/run1297908327/FlightReservationGUI.html
build.xml
build/built-jar.properties
build/classes/Images/Gradient_background.jpg
build/classes/Images/Icon.png
build/classes/Images/Icon2.png
build/classes/Images/Icon3.png
build/classes/Images/Like.png
build/classes/Images/Main.png
build/classes/Images/Main_center.png
build/classes/Images/Thumbs.db
build/classes/Images/back_arrow_plain.png
build/classes/Images/flight_resized.png
build/classes/Images/line.png
build/classes/Images/line_darker.png
build/classes/Images/line_long.png
dist/run1297908327/FlightReservationGUI.jnlp
dist/run1297908327/web-files/dtjava.js
dist/run1297908327/web-files/error.png
dist/run1297908327/web-files/get_java.png
dist/run1297908327/web-files/get_javafx.png
dist/run1297908327/web-files/javafx-chrome.png
dist/run1297908327/web-files/javafx-loading-100x100.gif
dist/run1297908327/web-files/javafx-loading-25x25.gif
dist/run1297908327/web-files/upgrade_java.png
dist/run1297908327/web-files/upgrade_javafx.png
dist/web-files/dtjava.js
dist/web-files/error.png
dist/web-files/get_java.png
dist/web-files/get_javafx.png
dist/web-files/javafx-chrome.png
dist/web-files/javafx-loading-100x100.gif
dist/web-files/javafx-loading-25x25.gif
dist/web-files/upgrade_java.png
dist/web-files/upgrade_javafx.png
manifest.mf
nbproject/build-impl.xml
nbproject/configs/Run_as_WebStart.properties
nbproject/configs/Run_in_Browser.properties
nbproject/genfiles.properties
nbproject/jfx-impl.xml
nbproject/private/configs/Run_as_WebStart.properties
nbproject/private/configs/Run_in_Browser.properties
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/private/retriever/catalog.xml
nbproject/private/retriever/www.oracle.com/technetwork/java/javase/overview/index.html
nbproject/project.properties
nbproject/project.xml
